Source: auto-gdk-scale
Section: misc
Priority: optional
Maintainer: Ronny Standtke <ronny.standtke@fhnw.ch>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.3

Package: auto-gdk-scale
Architecture: all
Depends: bc
Description: Wrapper script for running applications with a reasonable GDK_SCALE value
 This package contains a wrapper script that calculates a reasonable GDK_SCALE
 value based on the monitor width and screen resolution and then executes the
 program in the command line option.
